.goods{
  display: flex;

  /*通过该方式确定高度*/
  position: absolute;
  top: 190px;
  bottom: 51px;
  overflow: hidden;
  width: 100%;
}
.goods .menu-wrapper{
  flex: 0 0 85px;
}
.goods .foods-wrapper{
  flex: 1;
}
